#signup-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3b0d10, #764ba2);
    font-family: Arial, sans-serif;
  }
  
  #signup-box {
    background: rgb(46, 18, 63);
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }
  
  #signup-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c72929;
  }
  
  #signup-box label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #06ac67;
  }
  
  #signup-box input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
  }
  
  #signup-box input:focus {
    border-color: #5b1b5e;
  }
  
  #password-field {
    position: relative;
  }
  
  #password-field span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #85374a;
  }
  
  #signup-box button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #439274;
    border: none;
    color: rgb(11, 106, 109);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #signup-box button:hover {
    background: #4b0734;
  }




